<section
  [ngClass]="{'list': viewStyle === 0}"
  [ngStyle]="{background: pictureRoute }"
  class="card-container">
  <div class="gradient-background"></div>
  <header class="card-header">
    <div
      [ngClass]="{'thumbs-up': percentage.positive > percentage.negative,
                  'thumbs-down': percentage.negative > percentage.positive}"
      class="icon-container">
      <img
        src='../../../../../../assets/img/thumbs-{{popularity}}.svg'
        alt="thumb-icon"
        class="thumbs-icon">
    </div>
    <section class="card-content">
      <h1 class="card-name">
        {{name}}
      </h1>
      <article class="card-description">
        {{description}}
      </article>
      <p class="last-updated">
        {{alreadyVoted ? 'Thank you for your vote!' : lastUpdated + ' in ' + category}}
      </p>
    </section>
  </header>
  <section class="button-container">
    <button
      *ngIf="!alreadyVoted"
      [ngClass]="{'selected-thumbs': chosenOpinion === 'up'}"
      (click)="handleOpinion('up')"
      class="thumbs-up" aria-label="thumbs up">
      <img
        class="thumbs-icon"
        alt="thumbs-up"
        src="../../../../../../assets/img/thumbs-up.svg">
    </button>
    <button
      *ngIf="!alreadyVoted"
      [ngClass]="{'selected-thumbs': chosenOpinion === 'down'}"
      (click)="handleOpinion('down')"
      class="thumbs-down" aria-label="thumbs down">
      <img
        class="thumbs-icon"
        alt="thumbs-down"
        src="../../../../../../assets/img/thumbs-down.svg">
    </button>
    <button
      [disabled]="!chosenOpinion && !alreadyVoted"
      (click)="emitOpinion()"
      aria-label="vote now"
      class="vote"> {{alreadyVoted ? 'Vote again' : 'Vote'}} </button>
  </section>
  <footer class="vote-count">
    <div
      [ngStyle]="{flex: '1 1 ' + percentage.positive + '%' }"
      class="votes-up">
      <img
        class="thumbs-icon"
        alt="thumbs-up"
        src="../../../../../../assets/img/thumbs-up.svg">
      {{percentage.positive}} %
    </div>
    <div
      [ngStyle]="{flex: '1 1 ' + percentage.negative + '%' }"
      class="votes-down">
      {{percentage.negative}} %
      <img
        class="thumbs-icon"
        alt="thumbs-down"
        src="../../../../../../assets/img/thumbs-down.svg">
    </div>
  </footer>
</section>
