<section
  [ngClass]="{'list': viewStyle === 0}"
  [ngStyle]="{background: cardImageStyle }"
  class="card-container">
  <div class="gradient-background"></div>
  <header class="card-header">
    <div
      [ngClass]="{'thumbs-up': voted,
                  'thumbs-down': !voted}"
      class="icon-container">
      <img
        src='../../../../../../assets/img/thumbs-{{currentVote}}.svg'
        alt="thumb-icon"
        class="thumbs-icon">
    </div>
    <section class="card-content">
      <h1 class="card-name">
        {{name}}
      </h1>
      <article class="card-description">
        {{description}}
      </article>
      <p class="last-updated">
        {{lastUpdated}} in {{category}}
      </p>
    </section>
  </header>
  <section class="button-container">
    <button class="thumbs-up" aria-label="thumbs up">
      <img
        class="thumbs-icon"
        alt="thumbs-up"
        src="../../../../../../assets/img/thumbs-up.svg">
    </button>
    <button class="thumbs-down" aria-label="thumbs down">
      <img
        class="thumbs-icon"
        alt="thumbs-down"
        src="../../../../../../assets/img/thumbs-down.svg">
    </button>
    <button class="vote"> Vote Now </button>
  </section>
  <footer class="vote-count">
    <div
      [ngStyle]="{flex: '1 1 45%' }"
      class="votes-up">
      <img
        class="thumbs-icon"
        alt="thumbs-up"
        src="../../../../../../assets/img/thumbs-up.svg">
      45%
    </div>
    <div
      [ngStyle]="{flex: '1 1 55%' }"
      class="votes-down">
      <img
        class="thumbs-icon"
        alt="thumbs-down"
        src="../../../../../../assets/img/thumbs-down.svg">
      55%
    </div>
  </footer>
</section>
