@import "src/app/styles/constant";

.thumbs-up-rule-title-container {
  display: flex;
  justify-content: space-between;
  .title {
    font-style: normal;
    font-weight: 300;
    color: $color-dark-gray;
  }
  .view-selector {
    display: none;
  }
}

.cards-container {
  display: flex;
  overflow-x: scroll;
  .card {
    margin-right: 1rem;
  }
}

@media (min-width: $md) {
  .list {
    flex-direction: column;
  }
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .thumbs-up-rule-title-container {
    .view-selector {
      display: block;
    }
  }
  .cards-container {
    justify-content: space-between;
    .card {
      margin: 0 0 1.75rem;
    }
  }
}
