<section class="thumbs-up-rule-title-container">
  <h2 class="title">Previous Rulings</h2>
  <app-thumb-dropdown
    class="view-selector"
    [control]="viewOption.get('viewOrder')"
    [options]="dropdownOptions">
  </app-thumb-dropdown>
</section>
<section
  *ngIf="cardOptions"
  [ngClass]="{'grid': viewOption.get('viewOrder').value === 1,
              'list': viewOption.get('viewOrder').value === 0}"
  class="cards-container">
  <app-thumb-card
    *ngFor="let card of cardOptions; let i = index"
    (vote)="parseCardInformation($event.voted, $event?.selectedOption, i)"
    [name]="card?.name"
    [description]="card?.description"
    [picture]="card?.picture"
    [lastUpdated]="card?.lastUpdated"
    [category]="card?.category"
    [votes]="card?.votes"
    [alreadyVoted]="card?.voted"
    [percentage]="card?.percentage"
    [popularity]="card?.popularity"
    [viewStyle]="viewOption.get('viewOrder').value" class="card">
  </app-thumb-card>
</section>
